*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# don't commit NPM or Bower etc.
node_modules
bower_modules

vendor/
/.htaccess
/wp-config.php

/dev/files/

some-theme/css
some-theme/js/*.min.js
some-theme/js/*.LICENSE.txt
