*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# don't commit NPM or Bower etc.
node_modules
bower_modules

vendor/
/html/
/.htaccess
/wp-config.php

/ssl/localhost.crt
/ssl/localhost.csr
/ssl/localhost.key

some-theme/css
some-theme/js/*.min.js
some-theme/js/*.LICENSE.txt
