

// Hamburgers.
$hamburger-padding-x           : 10px;
$hamburger-padding-y           : 10px;
$hamburger-layer-width         : 24px;
$hamburger-layer-height        : 4px;
$hamburger-layer-spacing       : 4px;
$hamburger-layer-color         : currentColor;
$hamburger-hover-opacity       : 1;

/* stylelint-disable */
$hamburger-types: (
	3dx
);
/* stylelint-enable */
