.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;

	&.focus-visible:focus,
	:focus &.focus-visible {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

img,
.wp-caption {

	&.aligncenter,
	&.alignleft,
	&.alignright,
	&.alignnone {
		margin-bottom: 1em;
		max-width: 100%;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	&.alignleft {
		float: left;
		margin-right: 1em;
	}

	&.alignright {
		float: right;
		margin-left: 1em;
	}
}

img {

	&.aligncenter,
	&.alignleft,
	&.alignright,
	&.alignnone {
		display: block;

		&[height] {
			height: auto;
		}
	}

}

.wp-caption {

	img {
		max-width: 100%;
		height: auto;
	}
}
